
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Budget Limit:</strong>
  <%= @article.budgetLimit %>
</p>

<h2>Budgets</h2>
<% counter = 1 %>

  <% if counter== 1 %>
    <% @article.budgets.each do |budget| %>
      <% if budget.newLimit > @article.budgetLimit %>
        <p style="color:red"> Week  <%= counter %> : <%= budget.newLimit %></p>
      <%else %>
        <p style="color:green"> Week  <%= counter %> : <%= budget.newLimit %></p>
      <%end %>
      <% counter = counter + 1 %>
    <%end %>
  <%end %>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Destroy', article_path(@article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', articles_path %>
