<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Budget Limit:</strong>
  <%= @budget.newLimit %>
</p>

<%= form_with(model: [ @article, @budget ], local: true, ) do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :New_Limit%><br>
    <%= form.text_field :newLimit %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', articles_path %>
